body {
    background-color: lavender;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin:0;
    width:960px;
    margin:0 auto;
    width:960px;
    margin:0 auto;
    font-size:20px;
    font-family:Verdana;
    color:black;
}
